.delete{
    display: flex;
    align-items: center;
    justify-content: center;
}

.delete button{
    border: none;
    color: #ffffff;
    padding: 4px 120px;
    background: #BD0C2C;
    margin-bottom: 2rem;
}