.viagem-informacao{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3rem;


    width: 70%;
    color: #000000;
    vertical-align: initial;
}

.viagem-informacao label{
    width: 100%;
    display: block;
    margin-left: 0%;

    text-align: left;
}

.informacao-jornada{

    width: 30%;
}

.status-viagem{

    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2rem;

    color: #BD0C2C;

    display: block;
}

.problemas-viagem{

    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3rem;
    display: block;
    margin-top: 12%;
    margin-bottom: 12%;
    /* identical to box height */


    color: #BD0C2C;
}

.botao-contato-viagem{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* identical to box height */

    align-items: center;
    text-align: center;

    border: none;
    width: 100%;
    border-radius: 2rem;
    background-color: #27AE60;

    /* Branco padraum */

    color: #FeFeFe;
}