*{
    margin: 0;
    padding: 0;
}

/*  Página do Motorista */
.jornada-motorista{
    background: #FEFEFE;
    border: 0.25rem solid rgba(24, 28, 128, 0.51);
    box-sizing: border-box;
    border-radius: 1.5rem;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;

    color: #000000;

    margin: 10% 15% 4% 15%;
    padding: 2%;
}

.titulo-jornada{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 2rem;
    line-height: 2.688rem;
    text-align: center;

    color: #000000;
}

.alerta-jornada{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 5rem;
    line-height: 5.25rem;
    text-align: center;

    margin-top: 3%;
    margin-bottom: 3%;

    color: #BD0C2C;
}

.linha{
    border: 0.063rem solid #C3C3C3;
    margin-bottom: 1%;
    margin-top: 1%;
}

.dados-endereco{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;

    color: #000000;

    margin-left: 15%;
    margin-top: 1%;
}

.div-aviso-motorista{
    background: #FEFEFE;
    border: 1px solid #C3C3C3;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 35px;

    margin: 4% 8% 4% 8%;
    padding: 2%;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 2rem;

    color: #000000;
}

.textarea-descricao{
    width: 94%;
    height: 70%;
    padding: 3%;
    background: #C4C4C4;
    border-radius: 15px;
}

.botao-aviso{
    margin: 3% 35% 0% 35%;
    width: 30%;
    border: none;
    background: #2045C8;
    color: #FFFFFF;
    border-radius: 1rem;
}
/* Login */

.fundo-login{
    position: absolute;
    height: 90%;
    width: 100%;
    background-image: url(./assets/fundo-login.jpg);
    object-fit: cover;
    object-position: center;
    background-size: cover;
}

.div-login{
    width: 50%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 4.5%;
    height: 60%;
    padding: 5%;
    background: rgba(24, 28, 128, 0.35);
    border-radius: 4rem;
    position: relative;
    align-items: center;
}

.linha-login{
    height: 0.188rem;
    background:  #FFFFFF;

}

.fundo-logo-login{
    width: auto;
    height: auto;
    margin:2% 34% 0% 34%;
    position: absolute;
    align-items: center;
    top: 0rem;
    background: #E5E5E5;
    padding: 0rem;
    border: 0.188rem solid #FFFFFF;
    border-radius: 100%;
}

.logo-login{
    width: 6rem;
    height: auto;
}

.login{
    font-family: 'Red Hat Text',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.83rem;
    line-height: 2rem;
    margin-top: 15%;
    width: 30%;
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    margin-bottom: 4%;

    color: #fefefe;
}

.label-login{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.25rem;
    margin-top: 15%;

    color: #fefefe;
    width: 70%;
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}

.input-login{
    width: 70%;
    margin: 2% 15% 2% 15%;
    background: #3D66D0;
    border: none;
    height: 2rem;
    color: #fefefe;
}

.botao-login{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;

    color: #fefefe;
    background: #4971D9;
    border-radius: 5rem;

    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 8%;
    margin-top: 5%;
    height: 2rem;

    border: none;
}

/* Home */

.imagem-caminhao{
    position: relative;
    width: 100%;
    height: 65%;
    padding-top: 14%;
    padding-bottom: 14%;
    object-fit: cover;
    object-position: center;
    

    background: url(./assets/caminhao-home.jpg);
    background-size: cover;
}

.logo-home{
    position: absolute;
    height: 28%;
    right:4%;
    top: 1%;
}

.quadrado-sobre{
    position: relative;
    padding-bottom: 4%;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1%;
    width: 75%;
    height: 40%;
    left: 7.5%;
    right: 7.5%;
    top:22.5%;
    bottom: 22.5%;

    background: #101010;
    mix-blend-mode: hard-light;
    border: 0.063rem solid #000000;
    border-radius: 35px;
}

.titulo-sobre-home{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.563rem;
    line-height: 2.688rem;
    margin-bottom: 0.375rem;
    text-align: center;

    color: #FEFEFE;
}

.texto-sobre-home{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;
    text-align: justify;

    color: #fefefe;

}

.barra-home{
    position: relative;
    width: 100%;
    height: 2.813rem;

    margin-top: 2%;

    padding-top: 1%;
    padding-bottom: 1%;

    background: #2045C8;
}

.texto-barra{

    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    text-align: center;

    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
 

    color: #FFFFFF;
}

.botao-barra{
    position: relative;

    margin-left: 4%;

    height: 2.5rem;
    width: 7.5rem;
    padding: 0.125rem;

    background: #40BF13;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    border: none;

    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.563rem;
    /* identical to box height */


    color: #FFFFFF;
}

.corpo-home{
    margin-top: 10%;
}

.icones-texto-home{
    margin-top: 5%;
    margin-bottom: 5%;
    display: flex;
    position: relative;
    margin-left: 8%;
    margin-right: 10%;
}

.icone-home{

    width: 10%;
    height: 10%;
    padding: 2%;
    border-radius: 100%;
    margin-left: 1%;

    margin-right: 6%;

    background: #2045C8;
    
}

.icone-caminhao-home{
    position: relative;
    width: 100%;
    height: 100%;
}

.texto-home{
    position: relative;
    font-family: Actor;
    font-style: normal;
    font-weight: normal;
    font-size: 1.875rem;
    line-height: 2.25rem;
    /* identical to box height */

    margin-top: 5%;
    margin-bottom: 5%;
    color: #000000;
    
}

.texto-sobre-home::selection{
    background: #101010;
}

/* GM */

.viagem-informacao{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3rem;


    width: 70%;
    color: #000000;
    vertical-align: initial;
}

.viagem-informacao label{
    width: 100%;
    display: block;
    margin-left: 0%;

    text-align: left;
}

.informacao-jornada{

    width: 30%;
}

.status-viagem{

    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    line-height: 2rem;

    color: #BD0C2C;

    display: block;
}

.problemas-viagem{

    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.3rem;
    display: block;
    margin-top: 12%;
    margin-bottom: 12%;
    /* identical to box height */


    color: #BD0C2C;
}

.botao-contato-viagem{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.5rem;
    /* identical to box height */

    align-items: center;
    text-align: center;

    border: none;
    width: 100%;
    border-radius: 2rem;
    background-color: #27AE60;

    /* Branco padraum */

    color: #FeFeFe;
}

/* Formulários de Cadastro */

.submit {
    display: flex;
    align-items: center;
    justify-content: center;
}

.submit button{
    border: none;
    color: #ffffff;
    padding: 4px 120px;
    background: #BD0C2C;
    margin-bottom: 2rem;
}
h4#msg-cadastro{
    font-family: 'Anton', sans-serif;
    font-size: 1.75rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;


}

.imagem-cadastro{
    position: absolute;
    right: 12%;
    top: 25%;
    background-color: #DCDADA;
    border: 1px solid;
    border-radius: 1rem;
    width: 10rem;
    height: 10rem;
}

.imagem-cadastro input{
    width: 10rem;
    height: 10rem;
    align-self: center;
    

}

.frase-imagem-cadastro{
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.1rem;
    line-height: 1.2rem;
    text-align: center;

    margin-left: 10%;
    margin-right: 10%;
    width:80%;
    margin-top: 3%;

    color: #000000;

}

.content{
    padding: 20px;
}

.content .input-control{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content .input-control label{
    font-family: 'Actor', sans-serif;
}

.content .input-control input{
    border: none;
    height: 20px;
    padding: 8px;
    background: #DCDADA;
    width: 50%;
}

.content .input-control select{
    border: none;
    height: 30px;
    padding: 4px;
    background: #DCDADA;
    width: 51%;
}

/* Financeiro */

.frase-finan{
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 5%;
    margin-left: 7%;
}

.botao-cadastro-jornada{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
    padding-bottom: 1%;
    padding-top: 1%;
    align-items: center;
    background-color: #c3c3c3;
    color: #FEFEFE;
    font-size: 1.25rem;
    border-radius: 4rem;
    margin-top: 7%;
    margin-bottom: 7%;
}
.colaboradores-financeiro{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}

.dados-colaborador-nome{
    width: 38%;
    text-align: left;
    margin-left: 2%;
}

.dados-colaborador-atrasado{
    position: relative;
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    right: 0%;
    
    color: #ae2121;
}

.dados-colaborador-proximo{
    position: relative;
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    right: 0%;
    
    color: #f17605;
}

.dados-colaborador-certo{
    position: relative;
    font-family: 'Actor',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    line-height: 1.75rem;
    right: 0%;
    
    color: #40bf13;
}

.pesquisa-financeiro{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 2%;
    display: flex;

    background: #C4C4C4;
    border-radius: 2.183rem;
}

.div-icone-form{
    width:100%;
    height: 15%;
    display: flex;
    text-align: center;
    vertical-align: middle;
}
.div-botao-procurar{
    display:inline;
}
.form-edita-financeiro{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 13vh;
    height: 110vh;
    background: #FEFEFE;
    border: 0.063rem solid #C3C3C3;
    box-sizing: border-box;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 2% 10% 2% 10%;
    color: #000000;
}
.form-edita-financeiro form.form-financeiro{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 150px 2fr 2fr;
    grid-template-areas: 
        "img frase"
        "text-esquerda text-direita"
        "button button";
    column-gap: 10px;
    row-gap: 3rem;
    visibility: hidden;
}
/* .form-edita-financeiro form.form-financeiro p{
    grid-area: frase;
    text-align: initial;
    align-self: center;
    border: 0.520618px solid #40BF13;
    box-sizing: border-box;
    border-radius: 10px;
    width: 14rem;
    height: auto;
    padding: 10px;
    color: white;
    background-color: green;
    justify-self: end;
} */
.form-edita-financeiro form.form-financeiro img{
    grid-area: img;
    width: 10rem;
    height: 10rem;
    align-self: center;
    border: 1px solid;
    margin-top: 50px;
    border-radius: 1rem;

}
.form-edita-financeiro form.form-financeiro .btn-container{
    grid-area: button;
    margin-top: 3rem;
    text-align: center;


}
.form-edita-financeiro form.form-financeiro .btn-container button{
    border-radius: 3.75rem;
    width: 22.5%;
    height: 2rem;
    border: none;
    background: #2045C8;
    color: #fefefe;
}

.form-edita-financeiro form.form-financeiro input{
    background-color: #c4c4c4;
    border: none;
}
.form-edita-financeiro div.text-esquerda{
    grid: text-esquerda;
    align-self: center;
}
.form-edita-financeiro div.text-esquerda label,input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.form-edita-financeiro div.text-direita{
    grid-area: text-direita;
    align-self: center;
    justify-self: end;
}
.form-edita-financeiro div.text-direita label,input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-edita-financeiro div.form-financeiro input{

    border: none;
    border-radius: 0.2rem;
    width: 20rem;
}

.form-edita-financeiro .btn-container button+button{
    margin-left: 2.4rem;
}

@media(min-width:1400px){
    :root{
        font-size: 180%;
    }
    .form-edita-financeiro div.form-financeiro img{
        margin-top: 150px;
    
    }
    .form-edita-financeiro div.text-esquerda{
        margin-top: 100px;
    }
    .form-edita-financeiro div.text-direita{
        margin-top: 100px;
    }
}

@media(min-height:899px) and (max-height:1079px){
    :root{
        font-size: 180%;
    }
    .form-edita-financeiro{
        height: 200vh;
        width: 80vw;
    }
    .form-edita-financeiro div.form-financeiro{
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: 150px 2fr 2fr 1fr;
        grid-template-areas: 
            "img frase"
            "text-esquerda text-esquerda"
            "text-direita text-direita"
            "button button";
        row-gap: 0rem;
    }
    .form-edita-financeiro div.text-esquerda{
        grid-area: text-esquerda;
        justify-self: center;
        margin-top: 200px;
    }
    .form-edita-financeiro div.text-direita{
        justify-self: center;
        margin-top: -170px;
    }
    .form-edita-financeiro .btn-container{
        margin-top: 0px !important;
    }
/*     .botao-procurar{
        font-size:1.4rem;
        display: inline;
    }
    .imagem-lupa{
        width: 1.4rem;
        height: 1.4rem;
        display: inline-block;
    } */
}

/* ADM */

.triangulo-azul{
    position: absolute;
    z-index:-1000;
    line-height:0;
    width:0;
    height:0;
    border: 7.6rem solid; 
    border-color: #2045C8 #fff #fff #2045C8;
}

.logo-iacit-work{
    position: absolute;

    right: 3%;
    top: 20%;
    height: 20%;
    width: auto;
}

.section-dados-perfil{
    display: flex;
    margin-left: 2.5%;
    margin-top: 2.5%;
}

.imagem-perfil{
    width: 14%;
    height: 20%;
}

.div-dados-perfil{
    margin-top: 1.75%;
    margin-left: 1.5%;
}

.nome-perfil{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1rem;
    line-height: 1.75rem;

    color: #000000;
}

.dados-perfil{
    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.938rem;
    line-height: 1.438rem;

    color: #000000;
}

.botoes-administrativo{
    margin-top: 10%;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
    height: 40%;

    font-family: 'Roboto',sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
}

.botao-motorista{
    width: 49%;
    height: 35%;
    margin-right: 1%;
    margin-bottom: 1%;

    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    background: #2045C8;
    border-radius: 1.563rem;    

    border: none;

    color: #ffffff;
}

.botao-administrador{
    width: 49%;
    height: 35%;
    margin-left: 1%;
    margin-bottom: 1%;

    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    background: #40BF13;
    border-radius: 1.563rem;

    color: #FFFFFF;

    border: none;
}

.botao-veiculo{
    width: 49%;
    height: 35%;
    margin-right: 1%;
    margin-top: 1%;

    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    background: #BD0C2C;
    border-radius: 1.563rem;

    color: #FFFFFF;

    border: none;
}

.botao-financeiro{
    width: 49%;
    height: 35%;
    margin-left: 1%;
    margin-top: 1%;

    padding-top: 3.75rem;
    padding-bottom: 3.75rem;

    background: #F17605;
    border-radius: 1.563rem;

    color: #FFFFFF;

    border: none;
}

.frase-adm{
    font-family: 'Anton', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.75rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 5%;
    margin-left: 7%;
}

.pesquisa-administrativo{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 7%;
    display: flex;

    background: #C4C4C4;
    border-radius: 2.183rem;
}

.procura-adm{
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;

    width: 78%;

    color: #000000;

    background-color: #c4c4c4;

    border: none;
    border-radius: 2.183rem;

    padding-top: 0.688rem;
    padding-bottom: 0.688rem;
    padding-left: 1.375rem;
}

.div-botao-procurar{
    width: 22%;

    background: #FEFEFe;
    border: 1px solid #C4C4C4;
    box-sizing: border-box;

    border-top-right-radius: 2.183rem;
    border-bottom-right-radius: 2.183rem;
}

.botao-procurar{
    font-family: 'Actor', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;

    color: #000000;

    margin-top: 0.688rem;
    margin-bottom: 0.688rem;
    margin-left: 1.375rem;
    margin-right: 1.375rem;

    border: none;
    background: #fefefe;
}

.imagem-lupa{
    width: 1.563rem;
    height: 1.563rem;

    margin-top: 0.438rem;
    margin-bottom: 0.688rem;
}

.lista-resultados{
    background: #FEFEFE;
    border: 0.063rem solid #C3C3C3;
    box-sizing: border-box;
    border-radius: 2.183rem;

    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
}

.colaborador-pesquisa{
    background: #FEFEFE;
    border: 0.063rem solid #C3C3C3;
    box-sizing: border-box;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 2.183rem;

    display: flex;

    margin-left: 4%;
    margin-right: 4%;
    margin-top: 2%;
    margin-bottom: 2%;

    padding: 0.688rem 1.375rem 0.688rem 1.375rem;

    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.div-perfil-pesquisa{
    background: #A8BBFF;

    border-radius: 100%;

    width: 10%;
    height: auto;

}

.icone-pesquisa{
    width: 75%;
    height: 75%;

    margin: 12.5%;
}

.indice-nome{
    margin-left: 2%;
    margin-right: 1%;
}

.dados-pesquisa-nome{

    width: 40%;
    text-align: left;
}

.dados-pesquisa-cargo{

    width: 20%;
    text-align: left;
}

.indice-cargo{
    margin-left: 2%;
    margin-right: 1%;
}

.botao-perfil{
    color: #fff;

    width: 18%;
    height: 2.5rem;

    background: #ae2121;

    border: none;

    border-radius: 3.75rem;
}

/* .form-edita-adm{
    background: #FEFEFE;
    border: 0.063rem solid #C3C3C3;
    box-sizing: border-box;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    margin: 4% 6% 4% 6%;
    padding: 2% 10% 2% 10%;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    color: #000000;
} */

/* .legenda-edita-1{
    text-align: left;
    margin-right: 80%;
}
.legenda-edita-2{
    position: absolute;
    left: 50%;
}
.input-edita-adm{
    width: 10%;
    
    margin-right: 1%;
    border: none;
    padding: 0.125rem 0.125rem 0.125rem 0.125rem;
    padding-left: 1%;
    background: #c4c4c4;
} */


.form-edita-adm{
    width: 70vw;
    margin-left: 15vw;
    margin-top: 13vh;
    margin-bottom: 13vh;
    height: 80vh;
    background: #FEFEFE;
    border: 0.063rem solid #C3C3C3;
    box-sizing: border-box;
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
    border-radius: 35px;
    font-family: 'ABeeZee', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 1.25rem;
    line-height: 1.5rem;
    padding: 2% 10% 2% 10%;
    color: #000000;
}
.form-edita-adm div.form-adm{
    display: grid;
    grid-template-columns: 2fr 2fr;
    grid-template-rows: 2fr 2fr;
    grid-template-areas: 
        "text-esquerda text-direita"
        "button button";
    column-gap: 10px;
    row-gap: 3rem;
}

.form-edita-adm div.form-adm .btn-container{
    grid-area: button;
    margin-top: 3rem;
    text-align: center;


}
.form-edita-adm div.form-adm .btn-container button{
    border-radius: 3.75rem;
    
    color: #fff;
    width: 30rem;
    height: 2.5rem;
    background: #ae2121;
    border: none;

}

.form-edita-adm div.form-adm input{
    background-color: #c4c4c4;
    border: none;
}
.form-edita-adm div.text-esquerda{
    grid: text-esquerda;
    align-self: center;
}
.form-edita-adm div.text-esquerda label,input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    
}

.form-edita-adm div.text-direita{
    grid-area: text-direita;
    align-self: center;
    justify-self: end;
}
.form-edita-adm div.text-direita label,input{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.form-edita-adm div.form-adm input{

    border: none;
    border-radius: 0.2rem;
    width: 100%;
}

.form-edita-adm .btn-container button+button{
    margin-left: 2.4rem;
}